<app-nav></app-nav>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<div class="banner-wrapper">
    <div class="banner-text page-container">
        <div class="bn-text">
            <div class="bn-title">
                <h1>les maths</h1>
            </div>
        </div>
    </div>
</div>

<div class="nav-teams">
    <div class="nav-teams-content page-container">
        <div class="nav-teams-head">
            <h1 class="default-title">les math</h1>
        </div>

        <div class="nav-teams-links">
            <a routerLink="/site/joueurs" routerLinkActive="active">math future</a>
            <a routerLink="/site/manager" routerLinkActive="active">math joué</a>
        </div>
    </div>
</div>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<!-- Maths -->
<!-- Maths -->
<div class="math">
    <div class="math-content page-container">
        <div class="math-box">
            <div class="math-date">
                <h2>15:00</h2>
                <p>merc 30 août</p>
            </div>

            <div class="math-meet">
                <div class="math-team-logo">
                    <h4>oc-elite</h4>
                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                </div>

                <div class="math-team-score">
                    <h2>0</h2>
                    <h2>vs</h2>
                    <h2>0</h2>
                </div>

                <div class="math-team-logo">
                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                    <h4>oc-elite</h4>
                </div>
            </div>

            <div class="math-icon">
                <svg data-v-02e2cd39="" data-v-c64a137e="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="currentColor" class="match-card__match-centre-icon">
                    <path data-v-02e2cd39="" id="match-a"
                        d="M11.467 2.517v5.058c-2.248.35-3.8 1.971-3.999 4.18-.089.995.156 1.924.695 2.763.777 1.21 1.906 1.888 3.332 2.097V21.5H0v-4.862h3.77c.471 0 .652-.179.652-.645V8.195c0-.471-.18-.653-.644-.653C2.641 7.54 1.505 7.54.368 7.54H.024V2.517h11.443zM24 2.5v5.042c-1.263 0-2.526-.002-3.79 0-.447 0-.631.184-.632.632v7.831c0 .447.185.632.633.632 1.263.002 2.526 0 3.789 0V21.5H12.505v-4.876c2.57-.407 3.928-2.362 4.036-4.296a4.386 4.386 0 00-.773-2.772c-.782-1.148-1.885-1.79-3.24-1.989V2.5H24zm0 6.053v7.073h-3.388V8.553H24zm-20.771.003c.05 0 .1.007.164.012v7.033H.023V8.555zm9.29.086c1.369-.097 2.945 1.616 3.017 3.235.1 2.267-1.745 3.616-3.017 3.672zm-1.038-.012v6.906c-1.368.099-2.948-1.621-3.017-3.235-.097-2.247 1.723-3.611 3.017-3.67z">
                    </path>
                </svg>
                <p>Stade vélodrome de kintambo</p>
            </div>
        </div>
    </div>
</div>
<!-- Maths -->
<!-- Maths -->