.nav-wrapper {
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  z-index:500;
}

.nav-wrapper .nav {
  width: 100%;
  display: flex;
  align-items: center;
  transition:transform .4s linear 0s;
}

.nav.active{
  background: linear-gradient(to bottom, #ff9500e0, var(--dark-green) 50%);
  position:fixed;
  top:0px;
  left:0;
  /* animation:slideToBottom .3s linear; */
  transform:translateY(-200px);
  opacity:0;
}

.nav.translate{
  transform:translateY(0px);
  transition:transform .6s linear 0s;
  opacity:1;
}

.nav-wrapper .nav  .nav-content{
  width:100%;
  display:flex;
  align-items: center;
}

.nav-wrapper .nav .nav-links {
  width: 100%;
  padding-left: 30px;
}

.nav-wrapper .nav .nav-links .nav-line {
  display: block;
  margin: 15px 0;
  background: linear-gradient(to left, var(--first-color-base), var(--second-color-base));
  width: 100%;
  height: 1px;
}

.nav-wrapper .nav .nav-link-up {
  display: flex;
  justify-content: space-between;
}

.nav .nav-link-up .nav-up-title h3 {
  text-transform: uppercase;
  color:var(--white);
  letter-spacing:1px;
}

.nav .nav-link-up .nav-up-sociaux {
  display: flex;
  align-items: center;
}

.nav .nav-link-up .nav-up-sociaux a {
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 0px;
  color:var(--white);
  font-family:"Roboto-Medium";
}

.nav .nav-link-up .nav-up-sociaux a:not(:last-child) {
  margin-right: 10px;
}

.nav .nav-link-up .nav-up-sociaux a [class*="icon-"] {
  margin-left:3px;
}

.nav .nav-link-bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav .nav-link-bottom a {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto-Medium";
  color:var(--white);
}

.nav .nav-link-bottom a:not(:first-child) {
  margin-left: 10px;
}

.nav-responsive{
  display:none;
}

@media screen and (max-width:750px){
  .nav-wrapper .nav{
    display:none;
  }

  .nav-responsive{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }


  .nav-responsive .nav-logo_toggle{
    display:flex;
    align-items:center;
    line-height:0px;
    color:var(--white);
  }

  .nav-responsive .nav-head{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:transform .3s linear 0s;
  }
  
  .nav-responsive .nav-head.active{
    background: linear-gradient(to bottom, #ff9500e0, var(--dark-green) 50%);
    position:fixed;
    top:0px;
    left:0;
    transform:translateY(-200px);
    opacity:0;
    padding:0 15px;
  }
  
  .nav-responsive .nav-head.translate{
    transform:translateY(0px);
    transition:transform .6s linear 0s;
    opacity:1;
  }

  .nav-responsive .nav-logo_toggle .logo img{
    width:60px;
    height:60px;
    object-fit:cover;
  }

  .nav-responsive .nav-logo_toggle .toggle .icon-menu-2{
    font-size:22px;
    margin-left:10px;
    display:block;
    padding:5px;
  }

  .nav-responsive  .links-sociaux{
    display:flex;
    align-items:center;
  }

  .nav-responsive  .links-sociaux a{
    color:var(--white);
    margin-right:10px;
    font-size:22px;
  }

  .nav-responsive  .links-sociaux a:last-child{
    margin-right:0;
  }

  .nav-responsive  .back-links{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--dark-green);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition: visibility .3s linear, opacity .3s linear;
    pointer-events:none;
  }

  .nav-responsive .back-links.active{
    pointer-events:auto;
    opacity:1;
    visibility:visible;

  }

  .nav-responsive  .back-links::before{
    content:"";
    position:absolute;
    width:384px;
    height:384px;
    background:url('../../../../assets/ressources/logo/384x384.png') no-repeat;
  }

  .nav-responsive  .back-links::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.897);
  }

  .nav-responsive  .back-links .links-content{
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    width:100%;
    color:var(--white);
    padding:20px;
  }

  .nav-responsive  .back-links .links-content .link-head{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .nav-responsive  .back-links .links-content .link-head .icon-cancel{
    display:block;
    font-size:22px;
    padding:4px;
  }

  .nav-responsive  .back-links .links-content .link-head h3{
    text-transform:uppercase;
    font-size:16px;
  }

  .nav-responsive  .back-links .links-content .link-head  img{
    width:40px;
    height:40px;
    object-fit: cover;
  }

  .nav-responsive  .back-links .links-content .links{
    margin-top:40px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .nav-responsive  .back-links .links-content .links a{
    color:var(--white);
    font-size:22px;
    text-transform:uppercase;
    font-family:"Roboto-Black";
    width:100%;
    border-top:1px solid rgba(255, 255, 255, 0.171);
    padding:10px 0;
  }

  .nav-responsive  .back-links .links-content .links a:last-child{
    border-bottom:1px solid rgba(255, 255, 255, 0.171);
  }


  .nav-responsive  .back-links .links-content .logo_links_sociaux{
    width:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:20px;

  }

  .nav-responsive  .back-links .links-content .logo_links_sociaux .scx a{
    font-size:30px;
    margin-right:20px;
    color:var(--white);
  }

  .nav-responsive  .back-links .links-content .logo_links_sociaux .scx a:last-child{
    margin-right:0;
  }

  .nav-responsive  .back-links .links-content .logo_links_sociaux .oc-text{
    width:100%;
    margin-top:20px;
    text-transform:uppercase;
    text-align:center;
  }
}



/**
 *
 * Mobile very small
 *
 */

@media screen and (max-width:330px){
  .nav-responsive  .back-links .links-content .link-head h3{
    font-size:12px;
  }
}
