<div class="nav-wrapper">
    <div class="nav page-container">
        <div class="nav-logo">
            <img src="../../../../assets/ressources/logo/128x128.png" alt="oc-elite">
        </div>
        <div class="nav-links">
            <div class="nav-link-up">
                <div class="nav-up-title">
                    <h3>Oc Elite site web officiel</h3>
                </div>
                <div class="nav-up-sociaux">
                    <a href="#">
                        <span class="label">facebook</span>
                        <span class="icon-facebook"></span>
                    </a>
                    <a href="#">
                        <span class="label">youtube</span>
                        <span class="icon-youtube-play"></span>
                    </a>
                    <a href="#">
                        <span class="label">instagram</span>
                        <span class="icon-instagram"></span>
                    </a>
                </div>
            </div>

            <div class="nav-line"></div>

            <div class="nav-link-bottom">
                <a routerLink="/site/home">Home</a>
                <a href="#">Actualités</a>
                <a routerLink="/site/joueurs">Equipes</a>
                <a href="#">Président</a>
                <a href="#">Oc-Elite tv</a>
            </div>
        </div>
    </div>
</div>