<app-nav></app-nav>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<div class="banner-wrapper">
    <div class="banner-text page-container">
        <div class="bn-text">
            <div class="bn-title">
                <h1>les manager</h1>
            </div>
        </div>
    </div>
</div>

<app-nav-teams></app-nav-teams>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->


<!-- Joueurs -->
<!-- Joueurs -->
<div class="teams">
    <div class="teams-content page-container">
        <div class="teams-sections" id="gardien">
            <div class="teams-flex">
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-2.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom manager-bottom">
                                <div class="name">
                                    <p>Jo <br> <strong>Hart</strong></p>
                                    <p class="role-manager">entraineur principal</p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom manager-bottom">
                                <div class="name">
                                    <p>callel <br> <strong>vaissen</strong></p>
                                    <p class="role-manager">entraineur adjoint</p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
<!-- Joueurs -->
<!-- Joueurs -->