<app-nav></app-nav>

<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<div class="banner-wrapper">
    <div class="banner-text page-container">
        <div class="bn-text">
            <div class="bn-date">
                <div class="icon-clock"></div>
                <span class="text">Il y'a 21 minutes &nbsp;<strong>Actualité</strong></span>
            </div>

            <div class="bn-title">
                <h1>Celtic FC Women shine in impressive Paradise win over Hibs</h1>
                <p>Fran Alonso's side entertain the fans with emphatic 4-0 victory.</p>
            </div>

            <div class="bn-btn">
                <a href="#">Continue</a>
            </div>
        </div>
    </div>
</div>

<div class="news">
    <div class="news-content">
        <a href="#" class="new-box">
            <div class="new-img">
                <img src="../../../../assets/ressources/img/1.jpg" alt="">
            </div>

            <div class="new-text">
                <div class="n-date">
                    <div class="icon-clock"></div>
                    <span class="text">Il y'a 1 jour &nbsp;<strong>Actualité</strong></span>
                </div>

                <div class="n-title">
                    <h4>Celtic FC Women shine in impressive Paradise win over Hibs</h4>
                </div>
            </div>
        </a>

        <a href="#" class="new-box">
            <div class="new-img">
                <img src="../../../../assets/ressources/img/3.jpg" alt="">
            </div>

            <div class="new-text">
                <div class="n-date">
                    <div class="icon-clock"></div>
                    <span class="text">Il y'a 1 jour &nbsp;<strong>Actualité</strong></span>
                </div>

                <div class="n-title">
                    <h4>Celtic FC Women shine in impressive Paradise win over Hibs</h4>
                </div>
            </div>
        </a>

        <a href="#" class="new-box">
            <div class="new-img">
                <img src="../../../../assets/ressources/img/4.jpg" alt="">
            </div>

            <div class="new-text">
                <div class="n-date">
                    <div class="icon-clock"></div>
                    <span class="text">Il y'a 1 jour &nbsp;<strong>Actualité</strong></span>
                </div>

                <div class="n-title">
                    <h4>Celtic FC Women shine in impressive Paradise win over Hibs</h4>
                </div>
            </div>
        </a>

        <a href="#" class="new-box">
            <div class="new-img">
                <img src="../../../../assets/ressources/img/2.jpg" alt="">
            </div>

            <div class="new-text">
                <div class="n-date">
                    <div class="icon-clock"></div>
                    <span class="text">Il y'a 1 jour &nbsp;<strong>Actualité</strong></span>
                </div>

                <div class="n-title">
                    <h4>Celtic FC Women shine in impressive Paradise win over Hibs</h4>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<!-- Btn-default -->
<!-- Btn-default -->

<div class="btn-default  page-container">
    <div class="btn-content">
        <a href="#">Voir les actualités</a>
    </div>
</div>
<!-- Btn-default -->
<!-- Btn-default -->

<!-- President-block -->
<!-- President-block -->

<div class="president">
    <div class="president-content page-container">
        <div class="pdnt-img">
            <img src="../../../../assets/ressources/img/5.jpg" alt="">
        </div>
        <div class="pdnt-text">
            <h1 class="default-title">Le président parle</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro vero saepe quis hic eaque vel odit
                consequatur laborum aperiam, cumque molestias necessitatibus mollitia a culpa quam, optio qui maxime
                ipsa.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, nemo, quam repudiandae numquam
                impedit architecto commodi maiores unde modi maxime rem ratione vel aperiam harum porro nulla, cum
                beatae rerum.
            </p>
            <!-- <div class="btn-default">
                <div class="btn-content flex-end">
                    <a href="#">continue</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- President-block -->
<!-- President-block -->


<!-- Math-team -->
<!-- Math-team -->
<div class="math-team">
    <div class="math-team-content page-container">
        <div class="math-team-box">
            <div class="math-team-head">
                <h1 class="default-title">Match suivant</h1>
            </div>
            <div class="math-team-bg-math">
                <div class="math-date">
                    <h1>12 : 10</h1>
                    <h3>Dimanche 30 mars</h3>
                    <p>Stade vélodrome de kintambo</p>
                </div>

                <div class="team-line"></div>

                <div class="math-meet">
                    <div class="team-logo">
                        <img src="../../../../assets/ressources/logo/128x128.png" alt="oc-elite">
                        <h2>Oc-elite</h2>
                    </div>
                    <div class="vs">
                        <h1>VS</h1>
                    </div>
                    <div class="team-logo">
                        <img src="../../../../assets/ressources/logo/128x128.png" alt="oc-elite">
                        <h2>oc-elite</h2>
                    </div>
                </div>

                <div class="btn-team">
                    <a routerLink="/site/maths">
                        <div class="icons-math">
                            <svg data-v-02e2cd39="" data-v-c64a137e="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="match-card__match-centre-icon">
                                <path data-v-02e2cd39="" id="match-a"
                                    d="M11.467 2.517v5.058c-2.248.35-3.8 1.971-3.999 4.18-.089.995.156 1.924.695 2.763.777 1.21 1.906 1.888 3.332 2.097V21.5H0v-4.862h3.77c.471 0 .652-.179.652-.645V8.195c0-.471-.18-.653-.644-.653C2.641 7.54 1.505 7.54.368 7.54H.024V2.517h11.443zM24 2.5v5.042c-1.263 0-2.526-.002-3.79 0-.447 0-.631.184-.632.632v7.831c0 .447.185.632.633.632 1.263.002 2.526 0 3.789 0V21.5H12.505v-4.876c2.57-.407 3.928-2.362 4.036-4.296a4.386 4.386 0 00-.773-2.772c-.782-1.148-1.885-1.79-3.24-1.989V2.5H24zm0 6.053v7.073h-3.388V8.553H24zm-20.771.003c.05 0 .1.007.164.012v7.033H.023V8.555zm9.29.086c1.369-.097 2.945 1.616 3.017 3.235.1 2.267-1.745 3.616-3.017 3.672zm-1.038-.012v6.906c-1.368.099-2.948-1.621-3.017-3.235-.097-2.247 1.723-3.611 3.017-3.67z">
                                </path>
                            </svg>
                        </div>
                        Math
                    </a>
                </div>
            </div>
        </div>

        <div class="math-team-box">
            <div class="math-team-head">
                <h1 class="default-title">les joueurs</h1>
            </div>
            <div class="math-team-bg-math">
                <swiper [config]="config_slider_player">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="player-box">
                                <div class="player-text">
                                    <div class="pl-name">
                                        <span>GIORGOS</span>
                                        <h1>GIAKOUMAKIS</h1>
                                    </div>
                                    <div class="pl-number">
                                        <h1>7</h1>
                                    </div>
                                </div>
            
                                <div class="player-img">
                                    <img src="../../../../assets/ressources/img/2_ccexpress.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper>
            </div>
        </div>
    </div>
</div>
<!-- Math-team -->
<!-- Math-team -->

<!-- oc-elite tv -->
<!-- oc-elite tv -->
<div class="oc-elite-tv">
    <div class="oc-elite-tv-content page-container">
        <div class="oc-video">
            <h1 class="default-title">Oc Elite tv</h1>
            <div class="iframe">
                <iframe src="https://www.youtube.com/embed/8uY691EY46o" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="oc-text">
            <h2>oc elite vs oc elite</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur alias odio culpa quod dolores
                labore excepturi delectus aperiam numquam ex aliquid cum quas eius explicabo praesentium ratione,
                aspernatur in.</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur dicta, consequatur quae ea fuga
                enim nulla magnam iste perspiciatis, molestias odio vel alias voluptas sunt inventore. Modi voluptate
                saepe cumque?</p>
        </div>
    </div>
</div>
<!-- oc-elite tv -->
<!-- oc-elite tv -->

<!-- Oc-elite-maillot -->
<!-- Oc-elite-maillot -->

<div class="oc-maillot">
    <div class="oc-maillot-content page-container">
        <div class="maillot-title">
            <h1 class="default-title">oc-elite maillots</h1>
        </div>

        <div class="maillots">
            <div class="maillot">
                <img src="../../../../assets/ressources/img/maillot/2.jpg" alt="">
                <h3>Maillot domicile</h3>
            </div>

            <div class="maillot">
                <img src="../../../../assets/ressources/img/maillot/3.jpg" alt="">
                <h3>Maillot exterieur</h3>
            </div>

            <div class="maillot">
                <img src="../../../../assets/ressources/img/maillot/1.jpg" alt="">
                <h3>troisième maillot</h3>
            </div>
        </div>
    </div>
</div>
<!-- Oc-elite-maillot -->
<!-- Oc-elite-maillot -->

<app-footer></app-footer>