<app-nav></app-nav>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<div class="banner-wrapper">
    <div class="banner-text page-container">
        <div class="bn-text">
            <div class="bn-title">
                <h1>les joueurs</h1>
            </div>
        </div>
    </div>
</div>

<app-nav-teams></app-nav-teams>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<!-- Nav-joueur -->
<!-- Nav-joueur -->
<div class="joueur-nav">
    <div class="joue-nav-content page-container">
        <div class="joue-links">
            <a href="#gardien">gardiens</a>
            <a href="#">défenseurs</a>
            <a href="#">milieux de terrain</a>
            <a href="#">attaquants</a>
        </div>
    </div>
</div>
<!-- Nav-joueur -->
<!-- Nav-joueur -->

<!-- Joueurs -->
<!-- Joueurs -->
<div class="teams">
    <div class="teams-content page-container">
        <div class="teams-sections" id="gardien">
            <div class="teams-title">
                <h1 class="default-title">gardiens</h1>
            </div>

            <div class="teams-flex">
                <a routerLink="/site/joueur-single" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-2.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>1</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>Jo <br> <strong>Hart</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- defenseur -->
        <!-- defenseur -->

        <div class="teams-sections" id="defenseur">
            <div class="teams-title">
                <h1 class="default-title">défenseur</h1>
            </div>

            <div class="teams-flex">
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-2.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>1</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>Jo <br> <strong>Hart</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- defenseur -->
        <!-- defenseur -->

        <!-- Milieux -->
        <!-- Milieux -->
        <div class="teams-sections" id="milieux">
            <div class="teams-title">
                <h1 class="default-title">milieux de terrain</h1>
            </div>

            <div class="teams-flex">
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-2.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>1</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>Jo <br> <strong>Hart</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Milieux -->
        <!-- Milieux -->

        <!-- Attanquants -->
        <!-- Attanquants -->
        <div class="teams-sections" id="attaquants">
            <div class="teams-title">
                <h1 class="default-title">Attanquants</h1>
            </div>

            <div class="teams-flex">
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-2.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>1</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>Jo <br> <strong>Hart</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                
                <a href="#" class="joueur-box"
                    style="background:url(../../../../assets/ressources/img/gardiens/g-1.jpg)">
                    <div class="joueur-box_1">
                        <div class="jouer-head">
                            <h2>29</h2>
                        </div>

                        <div class="jouer-text">
                            <div class="jouer-line"></div>
                            <div class="jouer-bottom">
                                <div class="name">
                                    <p>scott <br> <strong>bain</strong></p>
                                </div>
                                <div class="logo">
                                    <img src="../../../../assets/ressources/logo/96x96.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Attanquants -->
        <!-- Attanquants -->

    </div>
</div>
<!-- Joueurs -->
<!-- Joueurs -->

<app-footer></app-footer>