<app-nav></app-nav>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<div class="banner-wrapper">
    <div class="banner-text page-container">
        <div class="bn-text">
            <div class="bn-title">
                <h1>Président</h1>
            </div>
        </div>
    </div>
</div>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<!-- President-block -->
<!-- President-block -->

<div class="president">
    <div class="president-content page-container">
        <div class="pdnt-img">
            <img src="../../../../assets/ressources/img/5.jpg" alt="">
        </div>
        <div class="pdnt-text">
            <h1 class="default-title">Le président du club</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro vero saepe quis hic eaque vel odit
                consequatur laborum aperiam, cumque molestias necessitatibus mollitia a culpa quam, optio qui maxime
                ipsa.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, nemo, quam repudiandae numquam
                impedit architecto commodi maiores unde modi maxime rem ratione vel aperiam harum porro nulla, cum
                beatae rerum.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nobis ipsam ratione reiciendis doloremque
                fugiat porro similique aperiam, blanditiis illum labore nulla a neque quibusdam incidunt dicta fugit
                enim dolor?
            </p>
        </div>
    </div>
</div>
<!-- President-block -->
<!-- President-block -->
<app-footer></app-footer>