/**
 *
 * Block comment
 *
 */

.actualite-single {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 30px;
}

.actualite-single .actu-single-content {
  width: 100%;
}

.actualite-single .actu-single-content .actu-singl-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actualite-single .actu-single-content .actu-singl-head h2 {
  text-transform: uppercase;
  font-size: 14px;
}

.actualite-single .actu-single-content .actu-singl-sociaux {
  display: flex;
  align-items: center;
}

.actualite-single .actu-single-content .actu-singl-sociaux a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border-radius: 50%;
  line-height: 0px;
  background: var(--dark-green);
  color: var(--white);
}

.actualite-single .actu-single-content .actu-singl-text {
  width: 100%;
  margin-top: 40px;
}

.actualite-single .actu-single-content .actu-singl-text p {
  line-height: 25px;
}

/**
 *
 * Joueur-photo-slider
 *
 */

.joueur-photos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
}

.joueur-photos .joueur-photo-content {
  width: 900px;
}


.joueur-photos .joueur-photo-content  .joueur-photo{
  width:100%;
}

.joueur-photos .swiper-wrapper .swiper-slide {
  width: 100% !important;
  height:100% !important;
}

.joueur-photos .swiper-wrapper .swiper-slide img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit:cover;
  display:block;
}

.joueur-photos .btn-buttons {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:300;
}

.joueur-photos .btn-buttons [class*="swiper-button-"] {
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.joueur-photos .btn-buttons .swiper-button-next {
  right: 0px;
}
/*=====  End of joueur-single  ======*/

/*=============================================
  =            Responsive Actualités            =
  =============================================*/
@media screen and (max-width: 750px) {
  .actualite-single .actu-single-content .actu-singl-head {
    width: 100%;
    flex-wrap: wrap;
  }

  .actualite-single .actu-single-content .actu-singl-head h2 {
    margin-bottom: 10px;
  }

  .joueur-photos .joueur-photo-content {
    width: 100%;
  }

  .joueur-photos .swiper-wrapper .swiper-slide {
    width: 100% !important;
    height:450px !important;
  }

  .joueur-photos .joueur-photo-content  .joueur-photo{
    width:100%;
    height:100%;
  }

  .joueur-photos .btn-buttons {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/**
 *
 * Mobile very small
 *
 */

@media screen and (max-width:330px){
  .joueur-photos .swiper-wrapper .swiper-slide {
    width: 100% !important;
    height:350px !important;
  }
}

/**
 *
 * Tablette
 *
 */

 @media screen and (min-width:760px) and (max-width:900px){

  .joueur-photos .swiper-wrapper .swiper-slide {
    width: 100% !important;
    height:590px !important;
  }

}


/*=====  End of Responsive Actualités  ======*/
