<app-nav></app-nav>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<div class="banner-wrapper">
    <div class="banner-text page-container">
        <div class="bn-text">
            <div class="bn-date">
                <div class="icon-clock"></div>
                <span class="text">Il y'a 21 minutes &nbsp;<strong>Actualité</strong></span>
            </div>

            <div class="bn-title">
                <h1>Celtic FC Women shine in impressive Paradise win over Hibs</h1>
            </div>
        </div>
    </div>
</div>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<!-- Actualite-single -->
<!-- Actualite-single -->

<div class="actualite-single">
    <div class="actu-single-content page-container">
        <div class="actu-singl-head">
            <h2>Publié par oc-elite football club</h2>
            <div class="actu-singl-sociaux">
                <strong>Nos réseaux sociaux</strong>
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
                <a href="#"><span class="icon-youtube-play"></span></a>
            </div>
        </div>

        <div class="actu-singl-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias mollitia temporibus nemo, ea dolor ad odit
                vero architecto ratione? Debitis quo pariatur deleniti ratione eos corrupti eaque nulla aliquam
                quibusdam.

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque illum incidunt perspiciatis voluptatem,
                facere omnis corporis distinctio fuga? Aperiam, blanditiis odio distinctio est atque expedita pariatur
                ipsam nam praesentium sapiente.

                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, suscipit reprehenderit. Officiis
                eos quae illo facere autem, consequuntur omnis eaque reiciendis iure alias obcaecati corrupti, mollitia,
                sint laboriosam culpa illum!

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore veniam ratione ex repudiandae mollitia
                quis iure nihil repellat harum veritatis, error assumenda voluptatibus eius est nesciunt velit ullam
                quae. Adipisci at minus similique exercitationem tenetur? Rerum exercitationem cupiditate laborum
                consequuntur consequatur ea aut tempora, fugit ratione quasi repellendus inventore. Vel autem quam
                possimus velit? Alias eos voluptatum cumque commodi voluptates nobis, obcaecati nemo sapiente similique
                quis porro ex qui consectetur dicta nesciunt ipsum doloribus. Vel velit consequatur unde eaque.
                Consequuntur voluptatibus aperiam itaque omnis tenetur perferendis tempore veritatis vel ullam molestiae
                distinctio, laboriosam perspiciatis aspernatur, illo porro. Fugit, vel autem?
            </p>
        </div>

        <div class="joueur-photos">
            <div class="joueur-photo-content">
                <swiper [config]="config_slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="joueur-photo">
                                <img src="../../../../assets/ressources/img/3.jpg" alt="">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="joueur-photo">
                                <img src="../../../../assets/ressources/img/3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </swiper>

                <div class="btn-buttons">
                    <!-- Add Arrows -->
                    <div class="swiper-button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.621" height="27.492"
                            viewBox="0 0 17.621 27.492">
                            <path id="chevron-back-outline" d="M26.494,7.875,12.938,19.244,26.494,30.613"
                                transform="translate(28.871 32.99) rotate(180)" fill="none" stroke="#00b700"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="3.375" />
                        </svg>

                    </div>
                    <div class="swiper-button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.621" height="27.492"
                            viewBox="0 0 17.621 27.492">
                            <path id="chevron-back-outline" d="M26.494,7.875,12.938,19.244,26.494,30.613"
                                transform="translate(-11.25 -5.498)" fill="none" stroke="#00b700" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="3.375" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Actualite-single -->
<!-- Actualite-single -->