<app-nav></app-nav>
<!-- Banner-news -->
<!-- Banner-news -->

<div class="banner-news">
    <div class="banner-news-content page-container">
        <div class="bn-news-title">
            <h1 class="default-title">oc-elite actualités</h1>
        </div>
        <div class="bn-news-flex">
            <div class="bn-news-left">
                <div class="bn-news-box">
                    <a href="#" class="bn-news-img">
                        <img src="../../../../assets/ressources/img/1.jpg" alt="">
                        <div class="bn-news-text">
                            <div class="bn-news-date">
                                <div class="icon-clock"></div>
                                <p>Il y'a 3 minutes <strong>Actualités</strong></p>
                            </div>
                            <h3>Celtic FC Women shine in impressive Women shine in impressive Women shine in impressive
                            </h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="bn-news-right">
                <div class="bn-news-one">
                    <a href="#" class="bn-news-img">
                        <img src="../../../../assets/ressources/img/3.jpg" alt="">
                        <div class="bn-news-text">
                            <div class="bn-news-date">
                                <div class="icon-clock"></div>
                                <p>Il y'a 3 minutes <strong>Actualités</strong></p>
                            </div>
                            <h3>Celtic FC Women shine in impressive Women shine in impressive Women shine in impressive
                            </h3>
                        </div>
                    </a>
                </div>

                <div class="bn-news-two">
                    <div class="n-img">
                        <a href="#" class="bn-news-img">
                            <img src="../../../../assets/ressources/img/3.jpg" alt="">
                            <div class="bn-news-text">
                                <div class="bn-news-date">
                                    <div class="icon-clock"></div>
                                    <p>Il y'a 3 minutes <strong>Actualités</strong></p>
                                </div>
                                <h3>Celtic FC Women shine in impressive</h3>
                            </div>
                        </a>

                    </div>
                    <div class="n-img">
                        <a href="#" class="bn-news-img">
                            <img src="../../../../assets/ressources/img/3.jpg" alt="">
                            <div class="bn-news-text">
                                <div class="bn-news-date">
                                    <div class="icon-clock"></div>
                                    <p>Il y'a 3 minutes <strong>Actualités</strong></p>
                                </div>
                                <h3>Celtic FC Women shine in impressive</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner-news -->
<!-- Banner-news -->


<div class="news">
    <div class="news-content page-container">
        <div class="news-title">
            <h1 class="default-title">derniere actualité</h1>
        </div>

        <div class="news-flex">
            <a routerLink="/site/actualite-single" class="news-box">
                <img src="../../../../assets/ressources/img/3.jpg" alt="">
                <div class="news-text">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, harum.</h3>
                    <p>Il y'a 3 jours</p>
                </div>
            </a>

            <div class="news-box">
                <img src="../../../../assets/ressources/img/3.jpg" alt="">
                <div class="news-text">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, harum.</h3>
                    <p>Il y'a 3 jours</p>
                </div>
            </div>

            <div class="news-box">
                <img src="../../../../assets/ressources/img/3.jpg" alt="">
                <div class="news-text">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, harum.</h3>
                    <p>Il y'a 3 jours</p>
                </div>
            </div>

            
            <div class="news-box">
                <img src="../../../../assets/ressources/img/3.jpg" alt="">
                <div class="news-text">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, harum.</h3>
                    <p>Il y'a 3 jours</p>
                </div>
            </div>
             
            <div class="news-box">
                <img src="../../../../assets/ressources/img/3.jpg" alt="">
                <div class="news-text">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, harum.</h3>
                    <p>Il y'a 3 jours</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>