<div class="footer">
    <div class="footer-back">
        <img src="../../../../assets/ressources/logo/512x512.png" alt="">
    </div>

    <div class="footer-text page-container">
        <div class="footer-content">
            <div class="ft-box">
                <h3>Nos liens</h3>
                <div class="ft-listes ft-content">
                    <a href="#">Home</a>
                    <a href="#">Actualités</a>
                    <a href="#">équipe</a>
                    <a href="#">oc-elite tv</a>
                </div>
            </div>

            <div class="ft-box">
                <h3>Nos réseaux sociaux</h3>
                <div class="ft-sociaux ft-content">
                    <a href="#">
                        <div class="icon-facebook"></div>
                    </a>
                    <a href="#">
                        <div class="icon-youtube-play"></div>
                    </a>
                    <a href="#">
                        <div class="icon-instagram"></div>
                    </a>
                </div>
            </div>

            <div class="ft-box">
                <h3>oc-elite site web officiel</h3>
                <div class="ft-logo ft-content">
                    <img src="../../../../assets/ressources/logo/152x152.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-copy">
            <p>&copy; &nbsp;<a href="#">2022 bigger dream innovation <span class="icon-code"></span></a> design. all right reserved</p>
        </div>
    </div>
</div>