<app-nav></app-nav>

<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<div class="banner-wrapper"
    style="background:url(../../../../assets/ressources/logo/512x512.png); background-position:center center;">
    <div class="banner-text page-container">
        <div class="bn-btn">
            <a href="#"><span class="icon-left-open"></span>retour à l'équipe</a>
        </div>
        <div class="bn-text">
            <div class="bn-title">
                <h1 class="default-title">
                    <span>Jo</span> <br>
                    <strong>Hart</strong>
                </h1>
            </div>

            <div class="bn-number">
                <h1>1</h1>
                <h1>gardien</h1>
            </div>
        </div>
    </div>
</div>
<!-- Banner-wrapper -->
<!-- Banner-wrapper -->

<!-- Joueur-single -->
<!-- Joueur-single -->
<div class="jouer-single">
    <div class="jouer-single-content page-container">
        <div class="biography">
            <div class="biog-head">
                <h1>Biographie</h1>
                <div class="text-opac">
                    <h1>Hart 1</h1>
                </div>
            </div>

            <div class="biog-flex">
                <div class="biog-descrip">
                    <div class="biog-desc-title">
                        <h1 class="default-title">jo hart</h1>
                    </div>

                    <div class="biog-desc-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus aliquam itaque
                            dolore neque nobis adipisci veniam in placeat minus voluptates similique, non vel tenetur
                            necessitatibus magni, voluptate doloribus debitis? Quia necessitatibus nisi odio repellat
                            error similique doloremque beatae impedit molestiae aspernatur molestias in, facilis
                            voluptatem! Laboriosam, illum? Commodi, corporis tempore. At harum dolores doloribus et
                            autem, consequatur voluptatibus ut libero dolorum asperiores, iure perferendis architecto
                            eveniet nihil dolore, ullam unde? Placeat natus iusto quibusdam sed porro sit temporibus
                            labore magnam ut? Quos laboriosam, cum neque, vero minima maiores praesentium magni
                            repellendus perferendis nulla quis odio iste dolor aut cumque accusamus quaerat qui sequi,
                            suscipit nemo. Totam quibusdam quisquam reprehenderit, natus eveniet iusto doloribus aut,
                            alias blanditiis quia aperiam consequuntur.</p>
                    </div>
                </div>
                <div class="biog-identity">
                    <div class="ident-box">
                        <h3>Date de naissance</h3>
                        <h4>19 Avril 1987</h4>
                    </div>

                    <div class="ident-box">
                        <h3>Début</h3>
                        <h4>4-2 v FK Jablonec (A) on 5 Aug 2021</h4>
                    </div>

                    
                    <div class="ident-box">
                        <h3>Nationalités</h3>
                        <h4>4-2 v FK Jablonec (A) on 5 Aug 2021</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="jouer-photo">
            
        </div>
    </div>
</div>
<!-- Joueur-single -->
<!-- Joueur-single -->