/**
 *
 * Banner-wrapper
 *
 */

.banner-wrapper {
  width: 100%;
  height: calc(100vh - 30px);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}

.banner-wrapper::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #077c07cb 70%, #ff9500ab);
  z-index: -10;
}

.banner-wrapper::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner-wrapper .banner-text .bn-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.banner-wrapper .banner-text .bn-text .bn-title {
  margin-top: 20px;
}

.banner-wrapper .banner-text .bn-text .bn-title h1 {
  font-size: 60px;
  font-weight: normal !important;
  color: var(--white);
}

.banner-wrapper .banner-text .bn-text .bn-title h1 span {
  font-family: "Roboto-Light";
}

.banner-wrapper .banner-text .bn-text .bn-number {
  position: relative;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
}

.banner-wrapper .banner-text .bn-text .bn-number h1:nth-child(1) {
  font-size: 100px;
  font-family:"Roboto-Black";
  color:rgba(255, 255, 255, .3);
}

.banner-wrapper .banner-text .bn-text .bn-number h1:nth-child(2){
  font-size:40px;
  font-family:"Roboto-Regular";
  font-weight:normal;
}

.bn-btn {
  margin-bottom: 50px;
  position: relative;
  z-index: 100;
}

.bn-btn a {
  text-transform: uppercase;
  color: var(--white);
}

.bn-btn a .icon-left-open {
  margin-right: 10px;
}
/*=====  End of Banner Wrapper  ======*/

.jouer-single{
  width:100%;
  position:relative;
  border:1px solid red;
  margin-top:50px;
  padding-bottom:30px;
}

.jouer-single .jouer-single-content{
  width:100%;
}

.jouer-single-content .biography{
    width:100%;
    background:var(--white);
    box-shadow:0px 4px 30px rgba(0, 0, 0, 0.185);
}

.jouer-single-content .biography .biog-head{
  width:100%;
  background:var(--second-color-base);
  color:var(--white);
  padding:20px 30px;
  position:relative;
}

.jouer-single-content .biography .biog-head h1{
  text-transform: uppercase;
  font-family:"Roboto-Black";
  font-size:36px;
}

.jouer-single-content .biography .biog-head .text-opac{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.jouer-single-content .biography .biog-head .text-opac h1{
  font-size:90px;
  font-style: oblique;
  opacity:.2;
}

.jouer-single-content .biography .biog-flex{
  width:100%;
  display:flex;
  padding:30px;
}

.jouer-single-content .biography .biog-flex .biog-descrip,
.jouer-single-content .biography .biog-flex .biog-identity{
  width:50%;
}

.jouer-single-content .biography .biog-flex .biog-descrip .biog-desc-title h1{
  font-size:40px;
}

.jouer-single-content .biography .biog-flex .biog-descrip  .biog-desc-text{
  margin-top:30px;
}

.jouer-single-content .biography .biog-flex .biog-descrip  .biog-desc-text p{
  line-height:24px;
}

.jouer-single-content .biography .biog-flex .biog-identity{
  padding:0 20px;
}

.jouer-single-content .biography .biog-flex .biog-identity .ident-box{
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 20px;
}

.jouer-single-content .biography .biog-flex .biog-identity .ident-box h4{
  color:var(--dark-green);
}